@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
.icon-views {
  color: #61a0fd;
  background-color: rgba(97, 160, 253, 0.2);
}

.icon-user {
  color: #438ffe;
  background-color: rgba(67, 143, 254, 0.2);
}

.icon-products {
  color: #8bc38a;
  background-color: rgba(139, 195, 138, 0.2);
}

.icon-sales {
  color: #83bcbd;
  background-color: rgba(131, 188, 189, 0.2);
}

.card-views:hover .card-inner {
  background-color: #61a0fd;
}

.card-views:hover .card-inner .icon:first-child {
  background-color: rgba(255, 255, 255, 0.2);
}

.card-views:hover .card-inner .icon, .card-views:hover .card-inner .card-title, .card-views:hover .card-inner .card-statitics, .card-views:hover .card-inner .card-details {
  color: #ffffff;
}

.card-views:hover .card-inner .top-part-card {
  border-color: #ffffff;
}

.card-user:hover .card-inner {
  background-color: #438ffe;
}

.card-user:hover .card-inner .icon:first-child {
  background-color: rgba(255, 255, 255, 0.2);
}

.card-user:hover .card-inner .icon, .card-user:hover .card-inner .card-title, .card-user:hover .card-inner .card-statitics, .card-user:hover .card-inner .card-details {
  color: #ffffff;
}

.card-user:hover .card-inner .top-part-card {
  border-color: #ffffff;
}

.card-products:hover .card-inner {
  background-color: #8bc38a;
}

.card-products:hover .card-inner .icon:first-child {
  background-color: rgba(255, 255, 255, 0.2);
}

.card-products:hover .card-inner .icon, .card-products:hover .card-inner .card-title, .card-products:hover .card-inner .card-statitics, .card-products:hover .card-inner .card-details {
  color: #ffffff;
}

.card-products:hover .card-inner .top-part-card {
  border-color: #ffffff;
}

.card-sales:hover .card-inner {
  background-color: #83bcbd;
}

.card-sales:hover .card-inner .icon:first-child {
  background-color: rgba(255, 255, 255, 0.2);
}

.card-sales:hover .card-inner .icon, .card-sales:hover .card-inner .card-title, .card-sales:hover .card-inner .card-statitics, .card-sales:hover .card-inner .card-details {
  color: #ffffff;
}

.card-sales:hover .card-inner .top-part-card {
  border-color: #ffffff;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.h-100 {
  height: 100%;
}

a, button {
  cursor: pointer;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.div-wrapper {
  padding: 0.5rem 0;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flex-shrink-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overflow-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.position-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-vertical {
  overflow-x: hidden;
  overflow-y: auto;
}

.text-white {
  color: #ffffff;
}

/* top navigation */
#header {
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
  background-color: #ffffff;
  padding: 0 2rem;
  border-bottom: 1px solid #bcc2cd;
}

@media (max-width: 992px) {
  #header > div {
    padding-top: 1rem;
  }
}

@media (max-width: 768px) {
  #header > div {
    padding-top: 0rem;
  }
}

#header .notifications .icon {
  font-size: 1.5rem;
  color: #abb1bf;
  padding: 0.4rem;
  position: relative;
}

#header .notifications .icon::after {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  right: 1px;
  background-color: #fe764b;
  border-radius: 50%;
}

.top-left-nav .brand-logo .icon {
  font-size: 1.5rem;
  color: #438ffe;
}

@media (max-width: 576px) {
  .top-left-nav .brand-logo .icon {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .top-left-nav .search-bar {
    display: none;
  }
}

@media (max-width: 576px) {
  .top-right-nav {
    display: none;
  }
}

.user-image {
  padding-left: 1.5rem;
}

.user-image .user-avatar {
  width: 30px;
  height: 30px;
}

.mobile-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  display: none;
}

@media (max-width: 576px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-menu .icon-mobile-menu {
  color: #abb1bf;
}

.toggle-menu-content {
  opacity: 0;
  height: 0;
  padding: 1rem 2rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px 4px #0000001a;
          box-shadow: 0 0 5px 4px #0000001a;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 576px) {
  .toggle-menu-content {
    width: 250px;
    position: absolute;
    top: 30px;
    right: -25px;
  }
}

@media (max-width: 320px) {
  .toggle-menu-content {
    padding: 1rem;
    width: 250px;
  }
}

.toggle-menu-content .toggle-mobile-nav {
  padding: 1rem 0;
}

#mobile-toggle {
  display: none;
}

#mobile-toggle:checked ~ .toggle-menu-content {
  height: 130px;
  opacity: 1;
}

.main-content {
  background-color: #f8f8f8;
  padding: 2rem;
}

.main-content .title {
  color: #1b1351;
}

/**/
.analytics-section {
  margin: 0 -1.5rem;
}

.dashboard-statistics {
  margin: 0 -1.5rem;
}

@media (max-width: 992px) {
  .dashboard-statistics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.dashboard-statistics .product-table,
.dashboard-statistics .sales-chart {
  margin: 0 1.5rem;
}

@media (max-width: 992px) {
  .dashboard-statistics .product-table,
  .dashboard-statistics .sales-chart {
    margin: 0;
  }
}

.dashboard-statistics .product-table {
  height: 400px;
  overflow: hidden;
  width: 65%;
}

@media (max-width: 992px) {
  .dashboard-statistics .product-table {
    width: 100%;
  }
}

.dashboard-statistics .sales-chart {
  width: 35%;
  background-color: #ffffff;
  padding: 1.5rem;
}

@media (max-width: 992px) {
  .dashboard-statistics .sales-chart {
    width: 100%;
    margin: 3rem 0 0 0;
  }
}

input#check {
  display: none;
}

#sidebar {
  -ms-flex-preferred-size: 90px;
      flex-basis: 90px;
  background-color: #ffffff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 320px) {
  #sidebar {
    position: absolute;
    bottom: 0;
    top: 0;
    -webkit-transform: translateX(-90px);
            transform: translateX(-90px);
    width: 90px;
    z-index: 100;
  }
}

#sidebar .nav-item {
  padding: 1rem 0;
  margin: 1rem 0;
}

#sidebar .nav-link .icon {
  font-size: 1.5rem;
  color: #abb1bf;
}

.sidebar-toggle {
  position: relative;
}

.icon-toggle {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  color: #438ffe;
}

@media (max-width: 320px) {
  .icon-toggle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    z-index: 100;
  }
}

#check:checked ~ #sidebar {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

@media (max-width: 320px) {
  #check:checked ~ #sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#check:checked ~ .sidebar-toggle .icon-toggle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 320px) {
  #check:checked ~ .sidebar-toggle .icon-toggle {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
  }
}

@media (max-width: 320px) {
  #check:checked ~ main {
    -webkit-filter: blur(1px);
            filter: blur(1px);
    pointer-events: none;
  }
}

.btn {
  border-color: transparent;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
}

.search-btn {
  padding: 0.7rem 1rem 0.7rem;
  background-color: #438ffe;
}

/*card scss*/
.card {
  width: 25%;
  padding: 0 1.5rem;
  margin: 1.5rem 0;
}

@media (max-width: 1200px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}

.card .card-inner {
  background-color: #ffffff;
  padding: 1.5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.card .card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.25rem;
}

.card .card-icons .icon {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card-icons .icon:last-child {
  font-size: 5rem;
  padding-right: 5rem;
}

@media (max-width: 992px) {
  .card .card-icons .icon:last-child {
    font-size: 3rem;
    padding-right: 2rem;
  }
}

.card .card-icons .icon-warning {
  color: #fe764b;
}

.card .card-icons .icon-success {
  color: #8bc38a;
}

.card .top-part-card {
  border-bottom: 1px solid #c1c5d0;
}

.card .top-part-card .card-title {
  font-size: 1rem;
  padding-bottom: 1.25rem;
  color: #c1c5d0;
  font-weight: 400;
}

.card .top-part-card .card-statitics {
  font-size: 1.5rem;
  padding-bottom: 1.75rem;
  color: #1b1351;
}

.card .card-details {
  padding-top: 1.25rem;
  color: #c1c5d0;
  font-size: 0.9em;
}

.card .card-details.active {
  color: #61a0fd;
}

input {
  font-family: "Josefin Sans", sans-serif;
}

input:focus-visible {
  outline: none;
}

.top-search {
  margin-left: 4rem;
  padding-left: 1rem;
  background-color: #f5f7f9;
}

.top-search #search {
  padding: 0.7rem 0.8rem 0.7rem 0.5rem;
  width: 350px;
  background-color: #f5f7f9;
  border: none;
  font-size: 1rem;
}

.top-search #search::-webkit-input-placeholder {
  color: #c1c5d0;
  padding-left: 0.5rem;
}

.top-search #search:-ms-input-placeholder {
  color: #c1c5d0;
  padding-left: 0.5rem;
}

.top-search #search::-ms-input-placeholder {
  color: #c1c5d0;
  padding-left: 0.5rem;
}

.top-search #search::placeholder {
  color: #c1c5d0;
  padding-left: 0.5rem;
}

@media (max-width: 768px) {
  .top-search #search {
    width: 150px;
  }
}

.top-search .icon-search {
  color: #abb1bf;
  cursor: pointer;
}

.mobile-search {
  margin-left: 0;
  padding: 0.25rem 0 0.25rem 1rem;
}

.mobile-search #mobile-search {
  padding: 0.7rem 0.8rem 0.7rem 0.5rem;
  width: 150px;
  background-color: #f5f7f9;
  border: none;
  font-size: 1rem;
}

.mobile-search #mobile-search::-webkit-input-placeholder {
  color: #c1c5d0;
  padding-left: 0.5rem;
}

.mobile-search #mobile-search:-ms-input-placeholder {
  color: #c1c5d0;
  padding-left: 0.5rem;
}

.mobile-search #mobile-search::-ms-input-placeholder {
  color: #c1c5d0;
  padding-left: 0.5rem;
}

.mobile-search #mobile-search::placeholder {
  color: #c1c5d0;
  padding-left: 0.5rem;
}

.data-table {
  width: 100%;
  text-align: left;
  background: #ffffff;
  border-spacing: 0 1rem;
}

.data-table th {
  padding: 1rem 0 1rem 1.5rem;
  color: #1b1351;
  font-size: 1.25rem;
}

.data-table th:nth-child(3) {
  width: 40%;
}

.data-table th:nth-child(2) {
  width: 15%;
}

.data-table th:first-child {
  width: 8%;
}

.data-table td {
  background-color: #f5f7f9;
  padding: 0.75rem 0 0.75rem 1.5rem;
}

.data-table td:nth-child(3) {
  width: 40%;
}

.data-table td:nth-child(2) {
  width: 15%;
}

.data-table td:first-child {
  width: 8%;
}

.data-table td .t-image {
  height: 40px;
}

.data-table .active-text {
  color: #61a0fd;
}

.product-table {
  padding: 0 1.5rem;
  background: #ffffff;
}

.product-name-cell {
  max-width: 6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-decoration-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */