// // Header area style

/* top navigation */
#header {
    flex-basis: $flex-basis;
    background-color: $white;
    padding: 0 2rem;
    border-bottom: 1px solid $header-border-color;
}
.top-left-nav {
    .brand-logo {
        .icon {
            font-size: $icon-size;
            color: $header-icon;
        }
    }

    .search-bar{
        @include screen-size(sm){
            display: none;
        }
        .search-btn {
            padding: $header-search-pt 1rem $header-search-pb;
            background-color: $primary;
        }
    }
    
    
}

.top-right-nav {
    @include screen-size(sm){
        display: none;
    }
    .notifications {
        .icon {
            font-size: $icon-size;
            color: $header-icon-color;
            padding: 0.4rem;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                height: 7px;
                width: 7px;
                right: 1px;
                background-color: $warning;
                border-radius: 50%;
            }
        }
    }
    .user-image {
        padding-left: 1.5rem;
        .user-avatar {
            width: 30px;
            height: 30px;
        }
    }
}
.mobile-menu{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    display:none;
    @include screen-size(sm){
        display: block;
    }
}

// .topbar {
//     padding: $topbar-nav-padding-y $topbar-nav-padding-x;
//     background-color: $topbar-bg;

//     .navbar {
//         .icon-bell {
//             font-size: $badge-icon-size;
//         }

//         .badge-notification {
//             @include position(absolute, -6px,-2px);
//             width: $badge-size;
//             height: $badge-size;
//             border-radius: $rounded-circle;
//             background-color: $badge-bg;
//         }

//         .brand {
//             &-logo {
//                 margin-left: 1rem;
//             }
//             &-img {
//                 width: $brand-img-size;
//                 height: $brand-img-size;
//                 margin-right: 0.5rem;
//                 border-radius: $rounded-circle;
//                 background-color: $primary;
//             }
//         }
//     }
// }
