// // Header area style

/* top navigation */
.top-nav {
    flex-basis: $flex-basis;
    background-color: $white;
}
.top-left-nav {
    padding: 0 2rem;
    .logo {
        .icon {
            font-size: $icon-size;
            color: $header-icon;
        }
    }
    .top-search {
        padding-left: 3rem;
        #search {
            padding: 0.7rem 0.8rem 0.7rem 2.5rem;
            width: 350px;
            background-color: $header-search-background;
            border-color: transparent;
            font-size: $font-size-base;
            &::placeholder {
                color: $header-search-text-color;
            }
        }
        #search-icon {
            position: absolute;
            top: 32px;
            left: 120px;
            color: $header-search-icon-color;
        }
    }
    .search-btn {
        padding: 0.7rem 1rem;
        background-color: $primary;
    }
}

.top-right-nav {
    flex-basis: 150px;
    .notifications {
        .icon {
            font-size: $icon-size;
            color: $header-icon-color;
            padding: 0.4rem;
        }
    }
    .user-image {
        .user-avatar {
            width: 30px;
            height: 30px;
        }
    }
}

// .topbar {
//     padding: $topbar-nav-padding-y $topbar-nav-padding-x;
//     background-color: $topbar-bg;

//     .navbar {
//         .icon-bell {
//             font-size: $badge-icon-size;
//         }

//         .badge-notification {
//             @include position(absolute, -6px,-2px);
//             width: $badge-size;
//             height: $badge-size;
//             border-radius: $rounded-circle;
//             background-color: $badge-bg;
//         }

//         .brand {
//             &-logo {
//                 margin-left: 1rem;
//             }
//             &-img {
//                 width: $brand-img-size;
//                 height: $brand-img-size;
//                 margin-right: 0.5rem;
//                 border-radius: $rounded-circle;
//                 background-color: $primary;
//             }
//         }
//     }
// }
