// main body

.main-content {
    background-color: $body-bg;
    padding: 2rem;
    .title {
        color: $main-title-color;
    }
}

/**/
.analytics-section {
    margin: 0 -1.5rem;
}

// table and graph 
.dashboard-statistics {
    
    margin: 0 -1.5rem;

    //  tablet responsive
    @include screen-size(lg){
    //    height: auto;
       flex-direction: column;
       margin: 0;
    //    padding: 0 0 2rem 0;
    }
    .product-table,
    .sales-chart {
        margin: 0 1.5rem;
        @include screen-size(lg){
            margin: 0;
         }
        
    }
    .product-table{
        height:400px;
        overflow: hidden;
        width: 65%;
        @include screen-size(lg){
            width: 100%;
        }
    }
    .sales-chart {
        width: 35%;
        background-color: $white;
        padding: 1.5rem;
        @include screen-size(lg){
            width: 100%;
            margin: 3rem 0 0 0;
        }
    }
}
