// // Styles for Sidebar lies here
input#check {
    display: none;
}

#sidebar {
    flex-basis: $flex-basis;
    background-color: $white;
    transition: $transition;
    @include screen-size(x-sm) {
        position: absolute;
        bottom: 0;
        top: 0;
        transform: translateX(-90px);
        width: 90px;
        z-index: 100;
    }
    .nav-item {
        padding: 1rem 0;
        margin: 1rem 0;
    }
    .nav-link {
        .icon {
            font-size: $side-icon-size;
            color: $icon-color;
        }
    }
}
.sidebar-toggle {
    position: relative;
}
.icon-toggle {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    font-size: 2rem;
    transition: $transition;
    border: 1px solid rgba($dark, 0.1);
    border-radius: 50%;
    cursor: pointer;
    color: $primary;
    @include screen-size(x-sm) {
        transform: rotate(180deg);
        z-index: 100;
    }
}

#check:checked {
    & ~ #sidebar {
        transform: translateX(-100%);
        flex-basis: 0;
        @include screen-size(x-sm) {
            transform: translateX(0);
        }
    }
    & ~ .sidebar-toggle .icon-toggle {
        transform: rotate(180deg);
        @include screen-size(x-sm) {
            transform: rotate(0deg);
            transform: translateX(90px);
        }
    }

    & ~ main {
        @include screen-size(x-sm) {
            filter: blur(1px);
            pointer-events: none;
        }
    }
}

// // Primary Nav
// #primaryNav {
//     // never do this
//     flex            : 0 0 $sidebar-width;
//     max-width       : $sidebar-width;
//     background-color: $sidebar-bg;

//     .brand-title {
//         padding      : $header-nav-padding-y $header-nav-padding-x;
//         margin-bottom: $header-nav-margin-bottom;
//         font-size    : $brand-text-size;
//         text-align   : left;
//     }

//     .navbar-nav {
//         .nav-item {
//             padding      : $nav-item-padding-y $nav-item-padding-x;
//             margin-bottom: $nav-item-margin-bottom;
//             color        : $nav-text;
//             background   : transparent;
//             transition   : $transition-timing all;
//             cursor       : pointer;

//             &.active,
//             &:hover {
//                 color      : $nav-active-text;
//                 background : $nav-active-color;
//                 font-weight: $font-bold;
//             }
//         }
//     }
// }
