// Form controls styles goes here
input {
    font-family: $font-family;
    &:focus-visible {
        outline: none;
    }
}

//desktop search

.top-search {
    margin-left: 4rem;
    padding-left: 1rem;
    background-color: $header-search-background;

    #search {
        padding: $header-input-pt 0.8rem $header-input-pb 0.5rem;
        width: 350px;
        background-color: $header-search-background;
        border: none;
        font-size: $font-size-base;
        &::placeholder {
            color: $header-search-text-color;
            padding-left: 0.5rem;
        }
        @include screen-size(md) {
            width: 150px;
        }
    }
    .icon-search {
        color: $icon-color;
        cursor: pointer;
    }
}

// mobile search
.mobile-search {
    margin-left: 0;
    padding: 0.25rem 0 0.25rem 1rem;
    #mobile-search {
        padding: $header-input-pt 0.8rem $header-input-pb 0.5rem;
        width: 150px;
        background-color: $header-search-background;
        border: none;
        font-size: $font-size-base;
        &::placeholder {
            color: $header-search-text-color;
            padding-left: 0.5rem;
        }
    }
}
