.table-layout-fixed {
    table-layout: fixed;
}

.table {
    width          : 100%;
    border-collapse: collapse;
    text-align     : left;

    &-header {
        background-color: $table-header-bg;
    }
    th{
        color:$table-heading-color;
    }
    th,
    td {
        vertical-align: middle;
        // padding       : 1.4rem;
        padding: $table-cell-padding;
        // border-color  : #29314a;
        border-color  : $table-cell-border-color;
    }

    tr {
        th,
        td {
            &:last-child,
            &:nth-child(5) {
                width: 120px;
            }
        }
    }

    .fighter-avatar {
        width: 40px;
        height: 40px;
        border-radius: $rounded-circle;
    }
}