// table style

.data-table {
    width: 100%;
    text-align: left;
    background: $white;
    border-collapse: collapse;
    // padding: 0 1.5rem;
    // border-spacing: 0 1rem;
    th {
        padding: 2rem 0 2rem 1.5rem;
        color: $secondary;
        font-size: 1.25rem;
        &:not(:nth-child(2)),
        &:not(:first-child) {
            width: 20%;
        }
        &:nth-child(2),
        &:first-child {
            width: 10%;
        }
    }
    td {
        background-color: $header-search-background;
        padding: 0.75rem 0 0.75rem 1.5rem;
        &:not(:nth-child(2)),
        &:not(:first-child) {
            width: 20%;
        }
        &:nth-child(2),
        &:first-child {
            width: 10%;
        }
        img {
            height: 50px;
        }
    }
    tbody{
        tr{
            border-bottom: 10px solid $white;
        }
    }
}

.product-table{
    padding: 0 1.5rem;
    background: $white;
}
// .table-layout-fixed {
//     table-layout: fixed;
// }

// .table {
//     width          : 100%;
//     border-collapse: collapse;
//     text-align     : left;

//     &-header {
//         background-color: $table-header-bg;
//     }
//     th{
//         color:$table-heading-color;
//     }
//     th,
//     td {
//         vertical-align: middle;
//         // padding       : 1.4rem;
//         padding: $table-cell-padding;
//         // border-color  : #29314a;
//         border-color  : $table-cell-border-color;
//     }

//     tr {
//         th,
//         td {
//             &:last-child,
//             &:nth-child(5) {
//                 width: 120px;
//             }
//         }
//     }

//     .fighter-avatar {
//         width: 40px;
//         height: 40px;
//         border-radius: $rounded-circle;
//     }
// }
