// Global styles goes here
*,
::after,
::before {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

html,
body {
    height  : 100%;
    
}

body{
    overflow: hidden;
    font-family: $font-family;
    font-size: $font-size-base;
}

.h-100 {
    height: 100%;
}

a, button{
    cursor: pointer;
}

// flex styles 
.row{
    display: flex;
    flex-wrap: wrap;
}
.div-wrapper{
    padding: 1rem 0;
}
.d-flex {
    display: flex;
}

.text-center{
    text-align: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}
.flex{
    &-shrink-0 {
        flex-shrink: 0;
    }
    &-shrink-1 {
        flex-shrink: 1;
    }
}
.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.overflow-y {
    overflow-y: auto;
    overflow-x: hidden;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-auto{
    overflow: auto;
}
// flex styles ends


.position-relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-vertical {
    overflow-x: hidden;
    overflow-y: auto;
}

.text-white {
    color: $white;
}

// .mr-2 {
//     margin-right: 0.5rem;
// }

// .mb-3 {
//     margin-bottom: 1rem;
// }

// .mr-3 {
//     margin-right: 1rem;
// }

// .mr-4 {
//     margin-right: 1.5rem;
// }

// .mt-4 {
//     margin-top: 1.5rem;
// }

// .mt-5 {
//     margin-top: 2.5rem;
// }