// All the SCSS mixins goes here

@mixin position ($position: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: $position;
    top     : $top;
    right   : $right;
    bottom  : $bottom;
    left    : $left;
}

// // border radius mixin
// @mixin border-radius($for: all, $val: 10px) {
//     @if $for==all {
//         border-radius: $val;
//     }

//     @else if $for==topleft {
//         border-top-left-radius: $val;
//     }

//     @else if $for==topright {
//         border-top-right-radius: $val;
//     }

//     @else if $for==bottomright {
//         border-bottom-right-radius: $val;
//     }

//     @else if $for==bottomleft {
//         border-bottom-left-radius: $val;
//     }
// }

// responsive


@mixin screen-size($point) {
    @if $point == xxl {
      @media (max-width: 1400px) { @content ; }
   }
    @else if $point == xl {
      @media (max-width: 1200px) { @content ; }
   }
    @else if $point == lg {
      @media (max-width: 992px) { @content ; }
   }
     @if $point == md {
      @media (max-width: 768px) { @content ; }
   }
   
   @else if $point == sm {
      @media (max-width: 576px)  { @content ; }
 
   }
   @else if $point == x-sm {
      @media (max-width: 320px)  { @content ; }
 
   }
 }