// All the SCSS Variables goes here
$transition : 0.3s all;
// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans', sans-serif;
$font-bold: 500;

// icons
$icon-size: 1.5rem;

// header
$padding-tb:0.7rem;
$header-input-pt: $padding-tb;
$header-input-pb: $padding-tb;
$header-search-pt: $padding-tb;
$header-search-pb: $padding-tb;

// sidebar
$side-icon-size: $icon-size;

// header & sidebar height and width
$flex-basis : 90px;


// card

$card-icon-size: 60px;






// // common
// $transition-timing: 0.4s;

// // Border-radius
// $border-radius: 12px;
// $rounded-circle: 50%;

// // Sidebar
// $sidebar-width: 280px;
// $brand-text-size: 1.8rem;
// $nav-item-padding-x: 1rem;
// $nav-item-padding-y: 1rem;
// $nav-item-margin-bottom: 2rem;
// $header-nav-padding-x: 1.5rem;
// $header-nav-padding-y: 1.8rem;
// $header-nav-margin-bottom: 1rem;

// // Header
// $topbar-nav-padding-x: 1.5rem;
// $topbar-nav-padding-y: 1rem;
// $badge-size: 6px;
// $brand-img-size: 40px;
// $badge-icon-size: 14px;

// // Content Main
// $content-wrapper-bg: #1d2329;
// $content-title-font-size: 2rem;
// $content-title-margin-bottom: 1.5rem;

// // Card
// $card-border-radius: $border-radius;
// $card-text-font-size: 2.2rem;
// $card-text-font-size-sm: 0.825rem;
// $card-icon-font-size: 1.8rem;
// $card-padding-x: 1.5rem;
// $card-padding-y: 1.5rem;
// $card-gap: 2rem;

// // Table
// $table-cell-padding: 1.4rem;