// theme colors
$primary: #81bbc9;
$warning: #c1875f;
$success: #86bb8d;
$info: #e5e1d8;
$white: #fff;
$black: #000;
$grey: #f5f5f5;
$grey-text-color: #a1acb0;

//sidebar
$user-image-bg: #e5e4e9;

// counter row
$counter-icon-color: #e5e1d8;

// input
$input-group-addon-bg :$white;
// $input-focus-color: rgba(0, 0, 0, 0);



$theme-colors: (
    "primary": $primary,
    "warning": $warning,
    "success": $success,
    "info": $info,
    "white": $white,
    "black": $black,
    "counter-icon" : $counter-icon-color,
);
