// font
$font-family-base: 'Poppins', sans-serif;
$font-size-base : 1rem;

// general
$border-radius: 15px;
// header
$header-size: 70px;



// navigation sidebar
$nav-sidebar-size: 200px;
$nav-sidebar-width: 210px;
$right-sidebar-width:250px;
$nav-sideheader-height: 100px;
$icon-size: 1rem;
$side-nav-text: 0.85rem;
$nav-icon-color: $black;
$nav-left-padding: 2.5rem;
$nav-border-left: 5px;
$nav-margin-left:0.1rem;

$side-header-margin-left: calc($nav-margin-left + $nav-border-left);


// main content
$main-content-padding: 1.5rem;

// sales sidebar
$sales-sidebar-size: 250px;

