@font-face {
  font-family: 'app';
  src:  url('fonts/app.eot?xgwp2t');
  src:  url('fonts/app.eot?xgwp2t#iefix') format('embedded-opentype'),
    url('fonts/app.ttf?xgwp2t') format('truetype'),
    url('fonts/app.woff?xgwp2t') format('woff'),
    url('fonts/app.svg?xgwp2t#app') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-help:before {
  content: "\e901";
}
.icon-log-out:before {
  content: "\e902";
}
.icon-shield:before {
  content: "\e903";
}
.icon-account_circle:before {
  content: "\e904";
}
.icon-compare_arrows:before {
  content: "\e905";
}
.icon-product-hunt:before {
  content: "\e906";
}
.icon-radio-checked:before {
  content: "\ea54";
}
