.main-content {
    padding: 0 $main-content-padding 0 0;

    .introduction {

        .user-title{
            font-size: 2rem;
        }

        .user-subtitle{
            font-size: 0.75rem;
            font-weight: 400;
        }

        .filter-products {
            border: $border-width solid $black;
            border-radius: $border-radius;   
            .icon{
                cursor: pointer;
            } 
        }
    }
}
