// navigation sidebar styling
#nav-sidebar {
    flex: 0 0 $nav-sidebar-size;
    min-width: $nav-sidebar-size;

    .side-header {
        height: $header-size;
        .brand-logo {
            height: 1.5rem;
        }
    }
    figure{
        margin: 0 0 0rem;
    }

    .nav-link {
        border-left: $nav-borderleft-width solid transparent;
        padding: 0.5rem 0 0.5rem $nav-left-padding;
        margin: 0.2rem 0 0.2rem 0rem;
        &.active,
        &:hover {
            border-color:  $black;
        }

        .icon {
            font-size: $icon-size;
        }

        .nav-text {
            font-size: $nav-link-font-size;
            padding-left: $nav-text-padding-left;
        }
    }
}

.nav-actions {
    figure {
        border: 1px solid $black;
        height: 60px;
        width: 60px;
        border-radius: $border-radius;
        .user-profile {
            height: 45px;
            padding: 0.5rem;
            border: 1px solid $black;
            background-color: $user-image-bg;
            border-radius: $border-radius;
        }
    }
}

#sales-sidebar {
    flex: 0 0 $sales-sidebar-size;
    min-width: $sales-sidebar-size;
    border-radius: $border-radius;
    .icon{
        font-size: 1.25rem;
        border-radius: $circle-radius;
    }
    .details{
        h4{
            font-size: 1.25rem;
        }
        h5{
            font-size: 0.75rem;
            color: $grey-text-color;
        }
    }
}
