.card {
    width: 50%;
    padding: 0 1.5rem;
    margin: 1rem 0;
    @include position($position:relative);
    .card-inner {
        padding: 1.5rem;
        border-radius: $border-radius;
    }
    .icon-counter-arrow {
        @include position($position:absolute, $top:20px, $right:50px);
    }
}