.counter-wrapper {
    border-radius: $border-radius;
    padding: $inner-padding;
}

.counter {
    .counter-icon {
        .icon {
            font-size: 1.5rem;
            border-radius: $circle-radius;
        }
    }

    .counter-name, .counter-details {
        font-size: 0.85rem;
        color: $grey-text-color;
    }

    .counter-number {
        font-size: 1.75rem;
    }
}