// header search

input[type="search"] {
    border: none;
    outline: none;
}
.form-control {
    &:focus {
        box-shadow: none;
    }
}

// #search {
//     padding-left: 0.75rem;
//     &::placeholder {
//         padding-left: 10px;
//     }
// }

// #filter {
//     width: 50%;
//     cursor: pointer;
// }
