@font-face {
  font-family: 'app';
  src:  url('fonts/app.eot?hbuu40');
  src:  url('fonts/app.eot?hbuu40#iefix') format('embedded-opentype'),
    url('fonts/app.ttf?hbuu40') format('truetype'),
    url('fonts/app.woff?hbuu40') format('woff'),
    url('fonts/app.svg?hbuu40#app') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-radio-checked:before {
  content: "\ea54";
}
